{% extends 'structure.html' %}

{% block title %} Report Generation Home {% endblock %}

{% block main %}

<h1>Welcome to the Report Generation Page</h1>

<form class = "" action="/report" method="POST">
    <h3>Filter Criteria</h3>

    <label for="acreage">Acreage:</label>
    <fieldset name="acreage">
        <p>Acreage Min: <input type = "text" name="amin"/>
        Acreage Max: <input type="text" name="amax"/></p>
    </fieldset>

    <label for ="nmtc">New Market Tax Credit:</label>
    <fieldset name="nmtc">
        <p>Yes:<input type ="radio" value="Yes" name = "nmtcradio" checked="true"/>
        No:<input type="radio" value="No" name = "nmtcradio"/></p>
    </fieldset>

    <label for ="ftz">Foreign Trade Zone:</label>
    <fieldset name="ftz">
        <p>Yes: <input type ="radio" value="Yes" name="ftzradio" checked="true"/>
        No: <input type="radio" value="No" name="ftzradio"/></p>
    </fieldset>

    <label for ="oz">Opportunity Zone:</label>
    <fieldset name="oz">
        <p>Yes: <input type ="radio" value="Yes" name="ozradio" checked="true"/>
        No: <input type="radio" value="No" name="ozradio"/></p>
    </fieldset>

    <input type=submit value = "Create Report"/>
</form>

{% endblock %}