/* *{box-sizing: border-box;}
body{
    background-color: rgb(190, 178, 137); */
/* } */
header{
    background-image: url("img/cglogo.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 10vh;
    width: 100%;
}
/* #wrapper{
    width: 50%;
    margin:0 auto;
} */
